<div id="albums">
    <div class="header">Album Reviews/Thoughts</div>
    <div id="scroll">
        <div class="album" style="background: linear-gradient(to right,#000,rgba(255,255,255,0));">
            <div class="albumImageSection">
                <div>
                    <img class="albumImage" src="../assets/images/dawnFM.jpg">
                    <div class="albumNameSection flex">
                        <div class="albumName">Dawn FM</div>
                        <div class="albumNameDesc">Latest Release • Album</div>
                    </div>
                </div>
            </div>
            <div class="albumBio">
                Overall, I did not think this album was better than After Hours or was at least as good as it either. However, I liked the radio and 80s vibe.
                <br>
                The Songs that stood out to me were, Out Of Time, Is There Someone Else?, Less Than Zero.
                <br> 
                <span class="explicit">Out Of Time</span>: The smooth synths and the flute in the background paired with The Weeknd's beautiful voice make the song listenable in almost every environment and situation.
                The music is almost party/club but the lyrics of regret make the song feel like the Artist feels regret while living his good life and partying as one often does when they haven't processed guilt and are trying to escape it through distractions that never work but since he cannot process it, he's left with no choice. However, in the context of the song, it feels like the artist truly cares about this girl and is not feeling this regret because he is lonely one night and wished she was there for him like it felt at times in After Hours. This makes the song feel a tad bit cringe at times when we ourselves are feeling confident but makes the song feel even better at times we are lonely and melancholy. His feelings of regret accumulate over time and add more to his already existing self-hate which makes it easier to not correct his self-destructive behaviors because he feels like he deserves it.
                <br>
                <span class="explicit">Is There Someone Else?</span>: Beautiful synths, vocal sample, and Mixing.
                <br>
                Lyrics's feelings and thoughts show blatant insecurity and are traditionally unattractive so at times these lines tend to feel a bit cringe and unrelatable, but the music makes up for it and adds more to his genuinity and relatability.
                <br>
                <span class="explicit">Less Than Zero</span>: The Best Song of the Album.
                <br>
                Abel uses this whole album to express his regret and it comes off as genuine. Almost feels like he did it a bit for commercialization purposes, which removes a bit of the genuinity of the regret because at his level of success it's hard to believe a person could miss another person this much when he has such an abundance of sex and drugs. If his feelings are genuine, it shows how much the feeling of being loved and loving are essential for making us feel human. ' With the amount of success and abundance Weeeknd has, he still isn't happier than us or is satisfied with himself and needs her ' (duh) - Something the people who do not have that amount of success can say that to themselves to make themselves feel better about their life. This thought adds to the genuinity of the song and makes us root for Abel, feel bad for him instead of invalidating his pain because of his success.
                <br>
                I am not going to lie, the rest of the songs felt like skips.
            </div>
        </div>
        <div class="album" style="background: linear-gradient(to right,#A74037,rgba(255,255,255,0));">
            <div class="albumImageSection">
                <div>
                    <img class="albumImage" src="../assets/images/afterhours(2).jpg">
                    <div class="albumNameSection flex">
                        <div class="albumName">After Hours</div>
                        <div class="albumNameDesc">2020 • Album</div>
                    </div>
                </div>
            </div>
            <div class="albumBio">
                This is by far the Best Weeknd Album yet. Weeknd's Voice paired with modern trap 808s and RNB music made almost all the songs non-skippable.<br>
                Songs that stood out to me were, <br>
                <span class="explicit">Alone Again</span>: Abel's High Pitched voice with lyrics written straight which look like have been written in 5 minutes after partying straight for 48 hours and ending up alone in his mansion make a decent song. The lyrics feel like they come straight from his heart, with no filter or care about how anyone will perceive him. Although this may seem common in the music industry, it often feels like they're faking it for wide commercialization and relatability. However, this song and Album feel genuine, which is rare in the industry. He wants to take off his disguise of being perfect and cold-hearted/ a disguise in which he doesn't miss her/ a disguise in which he cannot recognize himself. He feels like she's the only one who knows him. Maybe he doesn't like the person he's become now and wants to be the person he was when he was with her. He is even forced to face his fears of death and dying alone after his almost overdose.<br>
                <span class="explicit">Scared To Live</span>: Whole song is about him bragging about how he's the shit by showing that he's feeling guilty about breaking a person's will to love again. He has treated her like shit and still, she has loved him and will love him forever at least according to Abel. The smooth music along with the ending of the song in which he genuinely wishes for her well-being makes the song not feel like a complete brag and adds a bit to the genuineness of his feelings.<br>
                <span class="explicit">Escape From LA</span>: Amazing melody sample, along with Abel bragging about him fucking a girl in the studio makes a good song. He even basically calls all women from LA the same, because they've all had done the same face surgeries and have the same cold-hearted personalities. The personalities which the girls have developed to protect themselves from rich guys like Abel who use them for their bodies and replace them in mere seconds. Song has a beautiful ending with heartfelt lyrics and singing the same as many songs in this album.<br>
                <span class="explicit">Heartless</span>: " Never need a bitch I'm what a bitch need " - A line we have said many times to ourselves after treating someone like shit or when we're feeling confident in ourselves. The line accurately represents the emotional state of people whose life has treated them so harshly over the years that they no longer feel bad or guilty for anyone. The pain does indeed numb us over the years and the pain and the abundance make people stoic, and lose respect for other people. This song is more than just guys being dickheads and bragging about how they don't need women and have abundance. The song almost serves as a blueprint of how confident one should be in life.  The part before the ending goes like this,<br> "You never gave up on me.<br> I'll never know what you see (why won't you?).<br> I don't do well when alone (oh, yeah)"<br> feels honest. His appreciation and missing of her along with his self-hate feel genuine. I do not have more words to describe how good the song is even though it may seem cringe/commercialized to target men and is insulting to women.<br>
                <span class="explicit">Blinding Lights</span>: Hands down the best mixing in the album. The 80s music along with 808s and his voice made an amazing song and its success could clearly be seen by its position in the charts. The Fame has Blinded him, so much that he cannot see when she's gone from his life. Although the line also means that he cannot focus on anything when she's not in his life. He can't rest without feeling her touch. He's drowning in his feelings and no one can understand him as she does. In the End of this song, Abel is standing at a random street after the accident comes to terms with the fact that she's gone. The whole album is him processing losing someone he loves and There are no words with which I could describe what that short ending clip of him laughing in pain expresses. Great Production and Direction.<br>
                <span class="explicit">After Hours</span>: This is one of his best songs of all time. Has a Badass beat and the most heartfelt lyrics. Abel having no filter or care about how needy and pathetic he is, made the song. It's brave of him to speak so openly about his dependence on her and shows how he's reached an all-time low in his life. The lyrics don't need explanation or have many meanings. It's a simple song, written in a short time and recorded in a single vocal layer. It's songs like these that end up being the best and are remembered for longer than most because music and art isn't made by extreme critical thinking and cleverness. It comes from a pure place, with the sole intention of expressing our feelings to get them out of our system. Although the transition from the beat part to the slow part feels a bit weird, the ending of the song is one of the best pieces of music, Abel has made with Lyrics that go, <br>"Without my baby, where are you now when I need you most?.<br> I gave it all just to hold you close.<br> Sorry that I broke your heart, your heart. <br>And I said, baby, I'll treat you better than I did before. <br>I'll hold you down and not let you go. <br>This time I won't break your heart, your heart, no "<br>
                <span class="explicit">Until I Bleed Out</span>: An underated song and him screaming he's bleeding made the song for me.
            </div>
        </div>

        <div class="album" style="background: linear-gradient(to right,#B1411B,rgba(255,255,255,0));">
            <div class="albumImageSection">
                <div>
                    <img class="albumImage" src="../assets/images/MyDearMelancholy.jpg">
                    <div class="albumNameSection flex">
                        <div class="albumName">My Dear Melancholy, (EP)</div>
                        <div class="albumNameDesc">2018 • Album</div>
                    </div>
                </div>
            </div>
            <div class="albumBio">
                The Album started the Abel being completely Vulnerable trend. After a very public breakup with Selena Gomez, him expressing himself and his feelings so openly and not caring how the world perceives him is the most badass a man can be. Songs that stood out to me were, <br>
                <span class="explicit">Call Out My Name</span>: The whole song is him telling the girl to not be with someone else because he is still in love with her. To not be with someone else until he falls out of love. He feels that he had shown her comfort and held her down when she was down, and she can't even wait till he moves on. Of course, Abel is being unreasonable here. She doesn't owe him anything but Abel wants her to call out his name when he's with her. He wants to own her because he loves her. This primal urge to own your lover may seem possessive and insecure,  but when you think about it Love is possessive and insecure. I guess we all become a little selfish when we love someone. The song is not deep, but there's nothing wrong with simplicity if it does what it's supposed to do, which is express. I personally did not think this was the best song in the album.<br>
                In <span class="explicit">Try Me and Wasted Times</span>, Abel even openly sings how she was the best he's ever had and she can have him any time she wants. Something one should never do after a breakup, Shows how much he loves her. He even aware of the fact that it's his fault that he caught feelings for her and even admits that the girls he sleeps with are nothing in front of her. His feelings of possessiveness and insecurities are shown here again with an extremely vulnerable ending.<br>
                <span class="explicit">I Was Never There</span>: This is the best song in the album. Fucking Beautiful. The second part of the song is one of Abel's best creations. Beautiful singing and music paired with his amazing song writing, really show why he's so successful. The first part of the song seems a little unappealing because of the siren sample which isn't that bad and although Abel's voice covers it and makes it less of a typical RnB song. <br>
                "What makes a grown man wanna cry? <br>
                What makes him wanna take his life? <br>
                His happiness is never real <br>
                And mindless sex is how he feels, ooh, he feels"<br>
                Lyrics clearly show his pain and his want to escape from it through mindless sex because of his abundance. Bars are him bragging, and we're supposed to feel bad for him because deep down we all know nothing is better than being with someone you love. <br>
                "When it's time, when it's time, when it's time<br>
                It won't matter (it don't matter)<br>
                It won't matter (matter)<br>
                When it's time, when it's time, when it's time (time, it's time, babe)<br>
                It won't matter (it won't matter, babe)<br>
                It won't matter (ya)"<br>
                When it's late at night and we're all alone, Nothing matters. No amount of money, sex, and drugs can save us from our own thoughts. No matter how much we try to escape the loneliness and pain, Suffering can never be outrun without dealing with its pain. What Abel is doing here, is reminding her that the suffering can never be outrun unless she's with him. Because he understands her and nothing can replace him. So, for whatever reason, she's not with him. it won't matter when she's in pain. The Cheap Blackmailing shows how desperate he is for her Love.<br>
                Coming to the second part of the song, <br>
                "Ooh, and now I know what love is <br>
                And I know it ain't you for sure<br>
                You'd rather something toxic<br>
                So, I'll poison myself again, again<br>
                'Til I feel nothing<br>
                In my soul (in my soul)<br>
                I'm on the edge of something breaking<br>
                I feel my mind is slowly fadin'<br>
                If I keep going, I won't make it<br>
                If I keep going, I won't make it"<br>
                Followed by some more heartfelt lyrics paired with beautiful singing and composition, made this song the best in the album.<br>
                What these lyrics discuss is him trying to hurt himself as much as he can so he won't feel as bad when he was to move on from her. He also knows that the girl knows how much he's hurt and she doesn't care. He's trying to tell the girl how much he's hurt to try and make her feel guilty. So pathetic and human that it's not longer pathetic, It's him showing his love through vulnerability. He's getting his heart broken and he can feel it. A beautiful feeling, so human.<br>
                <span class="explicit">Privilage</span>: Abel's outros are always good and this one is too. <br>
                "And I don't wanna hear that you are suffering <br>
                You are suffering, no more<br>
                'Cause I held you down when you were suffering<br>
                You were suffering"<br>
                "But I'ma drink the pain away, I'll be back to my old ways <br>
                And I got two red pills to take the blues away, oh"<br>
                Lyrics showing open vulnerability and acceptance, shows Abel being self-aware that escapism is the only choice he has left and he will do it and be back to his old ways. Old ways of being Heartless, the version of him we see in After Hours. <br>The lyrics are heartfelt and the album does what it was supposed to do.
            </div>
        </div>
    </div>
</div>
