<div id="wholeImageSection" class="flex">
    <div id="upperSection" class="flex">
        <div>
            <img class="image" id="image1" src="../assets/images/afterHours.jpg">
        </div>
        <div>
            <img class="image" id="image2" src="../assets/images/dawnFM2.jpg">
        </div>
    </div>
    <div id="lowerSection" class="flex">
        <div class="flex">
            <img class="image" id="image3" src="../assets/images/starboy.jpg">
        </div>
        <div style="position: relative;">
            <video id="video4" width="600px" type="video/mp4" autoplay muted loop>
                <source src="../assets/images/edit.mp4" type="video/mp4">
            </video> 
        </div>
        <div class="flex">
            <img class="image" id="image5" src="../assets/images/bbtm1.jpg">
        </div>
    </div>
    <!--<audio controls autoplay>
        <source src="../assets/music/edit.mp3"/>
        <p>If you are reading this, it is because your browser does not support the audio element.</p>
    </audio>-->
</div>