<div id="slideButton" onclick="toggle()">
    <i class="fa fa-play-circle fa-2x"></i>
    <!--<img src="../assets/images/jukebox3.png">-->
</div>
<aside class="rightNotZero jukeboxSection">
    <div id="jukeboxUp" class="flex visible">
        <div class="header">Jukebox</div>
        <div id="shuffle">Shuffle play</div>
    </div>
    <div id="songlistJuke" class="visible">
        <div class="songJuke">
            <div class="songImgJuke flex">
                <img src="../assets/images/afterHours(2).jpg">
            </div>
            <div class="songNameSectionJuke flex">
                <div class="songNameJuke">
                    After Hours
                </div>
                <div class="songArtistNameJuke">
                    The Weeknd
                </div>
            </div>
        </div>
        <div class="songJuke">
            <div class="songImgJuke flex">
                <img src="../assets/images/afterHours(2).jpg">
            </div>
            <div class="songNameSectionJuke flex">
                <div class="songNameJuke">
                    Blinding Lights
                </div>
                <div class="songArtistNameJuke">
                    <span class="explicit">E</span>The Weeknd
                </div>
            </div>
        </div>
        <div class="songJuke">
            <div class="songImgJuke flex">
                <img src="../assets/images/dawnFM.jpg">
            </div>
            <div class="songNameSectionJuke flex">
                <div class="songNameJuke">
                    Less Than Zero
                </div>
                <div class="songArtistNameJuke">
                    The Weeknd
                </div>
            </div>
        </div>
        <div class="songJuke">
            <div class="songImgJuke flex">
                <img src="../assets/images/starboy.jpg">
            </div>
            <div class="songNameSectionJuke flex">
                <div class="songNameJuke">
                    Starboy
                </div>
                <div class="songArtistNameJuke">
                    <span class="explicit">E</span>The Weeknd
                </div>
            </div>
        </div>
        <div class="songJuke">
            <div class="songImgJuke flex">
                <img src="../assets/images/starboy.jpg">
            </div>
            <div class="songNameSectionJuke flex">
                <div class="songNameJuke">
                    False Alarm
                </div>
                <div class="songArtistNameJuke">
                    <span class="explicit">E</span>The Weeknd
                </div>
            </div>
        </div>
        <div class="songJuke">
            <div class="songImgJuke flex">
                <img src="../assets/images/MyDearMelancholy.jpg">
            </div>
            <div class="songNameSectionJuke flex">
                <div class="songNameJuke">
                    Call Out My Name
                </div>
                <div class="songArtistNameJuke">
                    The Weeknd
                </div>
            </div>
        </div>
        <div class="songJuke">
            <div class="songImgJuke flex">
                <img src="../assets/images/afterHours(2).jpg">
            </div>
            <div class="songNameSectionJuke flex">
                <div class="songNameJuke">
                    Heartless
                </div>
                <div class="songArtistNameJuke">
                    <span class="explicit">E</span>The Weeknd
                </div>
            </div>
        </div>
        <div class="songJuke">
            <div class="songImgJuke flex">
                <img src="../assets/images/bbtm.jpg">
            </div>
            <div class="songNameSectionJuke flex">
                <div class="songNameJuke">
                    Can't Feel My Face
                </div>
                <div class="songArtistNameJuke">
                    The Weeknd
                </div>
            </div>
        </div>
        <div class="songJuke">
            <div class="songImgJuke flex">
                <img src="../assets/images/starboy.jpg">
            </div>
            <div class="songNameSectionJuke flex">
                <div class="songNameJuke">
                    Reminder
                </div>
                <div class="songArtistNameJuke">
                    <span class="explicit">E</span>The Weeknd
                </div>
            </div>
        </div>
        <div class="songJuke">
            <div class="songImgJuke flex">
                <img src="../assets/images/bbtm.jpg">
            </div>
            <div class="songNameSectionJuke flex">
                <div class="songNameJuke">
                    Often
                </div>
                <div class="songArtistNameJuke">
                    The Weeknd
                </div>
            </div>
        </div>
    </div>
    <div id="playlistUp" class="hidden">
        <div id="playlistTitle">
            PlayList
        </div>
        <div id="playlistsSection">
            <div class="playlist">
                <div class="playlistImage flex">
                    <div style="background: #B50127; height: 50px; width:50px;"></div>
                </div>
                <div class="playlistNameSection">
                    <div class="playlistName">
                        All Songs
                    </div>
                    <div class="playlistSongsNumber">
                        45 Tracks
                    </div>
                </div>
            </div>
            <div class="playlist">
                <div class="playlistImage flex">
                    <img src="../assets/images/dawnFM.jpg" alt="">
                </div>
                <div class="playlistNameSection">
                    <div class="playlistName">
                        Dawn FM
                    </div>
                    <div class="playlistSongsNumber">
                        16 Tracks
                    </div>
                </div>
            </div>
            <div class="playlist">
                <div class="playlistImage flex">
                    <img src="../assets/images/afterhours(2).jpg" alt="">
                </div>
                <div class="playlistNameSection">
                    <div class="playlistName">
                        After Hours
                    </div>
                    <div class="playlistSongsNumber">
                        14 Tracks
                    </div>
                </div>
            </div>
            <div class="playlist">
                <div class="playlistImage flex">
                    <img src="../assets/images/MyDearMelancholy.jpg" alt="">
                </div>
                <div class="playlistNameSection">
                    <div class="playlistName">
                        My Dear Melancholy
                    </div>
                    <div class="playlistSongsNumber">
                        6 Tracks
                    </div>
                </div>
            </div>
            <div class="playlist">
                <div class="playlistImage flex">
                    <img src="../assets/images/starboy.jpg" alt="">
                </div>
                <div class="playlistNameSection">
                    <div class="playlistName">
                        Starboy
                    </div>
                    <div class="playlistSongsNumber">
                        18 Tracks
                    </div>
                </div>
            </div>
            <div class="playlist">
                <div class="playlistImage flex">
                    <div style="background: #ffffff; height: 50px; width:50px;"></div>
                </div>
                <div class="playlistNameSection">
                    <div class="playlistName">
                        Specials
                    </div>
                    <div class="playlistSongsNumber">
                        10 Tracks
                    </div>
                </div>
            </div>
            <div class="playlist">
                <div class="playlistImage flex">
                    <div style="background: #5501b5; height: 50px; width:50px;"></div>
                </div>
                <div class="playlistNameSection">
                    <div class="playlistName">
                        Custom Playlist
                    </div>
                    <div class="playlistSongsNumber">
                        <span id="customTrackNumber"></span> Tracks
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="volumeDiv" class="hidden">
        <div id="volumeContainer">
            <div id="volume">
                
            </div>
            <i class="fa fa-music"></i>
        </div>
    </div>
    <div id="jukeboxDown">
        <div id="jukeboxController">
            <div class="progress-container">
                <div class="Progress">
                    
                </div>
            </div>
            <div id="controllerDown" class="flex">
                <div class="img-container">
                    <img src="../assets/images/afterHours(2).jpg" alt="" id="cover">
                </div>
                <div class="music-info">
                    <div id="songNameController">
                        Heartless
                    </div>
                    <div id="songArtistNameController">
                        The Weeknd
                    </div>
                </div>
                <audio id="audio"></audio>
                <div class="navigation">
                    <button id="prev" class="action-btn">
                        <i class="fa fa-backward"></i>
                    </button>
                    <button id="play" class="action-btn action-btn-big">
                        <i class="fa fa-play"></i>
                    </button>
                    <button id="next" class="action-btn">
                        <i class="fa fa-forward"></i>
                    </button>
                    <!--<button id="bolume" class="action-btn">
                        <i id="volumeIcon" class="fa fa-volume-up"></i>
                    </button>-->
                </div>
                <div id="bolume">
                    <div id="box">
                        <div id="block">
                            <i id="volumeicon" class="fa fa-volume-off"></i>
                        </div>
                        <div id="finalCircle">
                            <div id="hugeCircle">
                                <div id="biggestCircle">
                                    <div id="bigCircle">
                                        <div id="mediumCircle">
                                            <div id="smallCircle">
                                                <div id="smallestCircle">
                            
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="jukeboxSections" class="flex">
            <div id="songsSection" class="flex">
                <i class="fa fa-music"></i>
                <div id="playlistName">Playlist Name</div>
            </div>
            <div id="playlistSection" class="flex">
                <i class="fa fa-bars"></i>
                <div>Your Library</div>
            </div>
        </div>
    </div>   
</aside>
