<div id="navbar" class="flex">
  <div id="title" class="flex">
    This is <img id="theWeeknd" src="../assets/images/theweekndtext.gif">
  </div>
  <div id="sections" class="flex">
    <div class="option hover-underline-animation">
      Latest News/Releases
    </div>
    <div class="option hover-underline-animation">
      Album Reviews/Thoughts
    </div>
    <div class="option hover-underline-animation">
      Stoodout Singles
    </div>
    <div class="option hover-underline-animation">
      Biography/About
    </div>
    <div class="option hover-underline-animation">
      Special Recommendations
    </div>
  </div>
</div>