<div id="remixes">
    <div class="header">Stoodout Singles</div>
    <div class="typecard" style="background: linear-gradient(to right,#2F2A30,rgba(255,255,255,0));">
        <div class="header">
            Lofi
        </div>
        <div class="typecardSongs">
            <a target="_blank" href="https://www.youtube.com/watch?v=GedLli_YXEI" class="typecardSong">
                <div class="typecardSongImg">
                    <img src="../assets/images/lofi1.jpg" alt="">
                </div>
                <div class="typecardSongName">
                    If The Weeknd made lofi hip hop radio
                </div>
            </a>
            <a target="_blank" href="https://www.youtube.com/watch?v=wVKDb9RTkrI" class="typecardSong">
                <div class="typecardSongImg">
                    <img src="../assets/images/lofi2.jpg" alt="">
                </div>
                <div class="typecardSongName">
                    If The Weeknd made lofi hip hop radio 2
                </div>
            </a>
            <a target="_blank" href="https://www.youtube.com/watch?v=ZGYSVyWdSRk" class="typecardSong">
                <div class="typecardSongImg">
                    <img src="../assets/images/lofi3.jpg" alt="">
                </div>
                <div class="typecardSongName">
                    The Weeknd but he's super chill | Lofi Mix | CHILLAF |
                </div>
            </a>
        </div>
    </div>
    <div class="typecard" style="background: linear-gradient(to right,#0A0905,rgba(255,255,255,0));">
        <div class="header">
            Slowed and Reverbed
        </div>
        <div class="typecardSongs">
            <a class="typecardSong" target="_blank" href="https://www.youtube.com/watch?v=UCJXFY5mt3M">
                <div class="typecardSongImg">
                    <img src="../assets/images/sar3.jpg" alt="">
                </div>
                <div class="typecardSongName">
                    THE WEEKND - AFTER HOURS ( s l o w e d + r e v e r b )
                </div>
            </a>
            <a class="typecardSong" target="_blank" href="https://www.youtube.com/watch?v=KCGsGy3B6jg">
                <div class="typecardSongImg">
                    <img src="../assets/images/sar2.jpg" alt="">
                </div>
                <div class="typecardSongName">
                    the weeknd, often (slowed + reverb)
                </div>
            </a>
            <a class="typecardSong" target="_blank" href="https://www.youtube.com/watch?v=iDVKMdnvgl8">
                <div class="typecardSongImg">
                    <img src="../assets/images/sar1.jpg" alt="">
                </div>
                <div class="typecardSongName">
                    the weeknd - blinding lights (slowed + reverb)
                </div>
            </a>
        </div>
    </div>
    <div class="typecard"  style="background: linear-gradient(to right,#0D0F1D,rgba(255,255,255,0));">
        <div class="header">
            Classics
        </div>
        <div class="typecardSongs">
            <a class="typecardSong" target="_blank" href="https://www.youtube.com/watch?v=CW5oGRx9CLM">
                <div class="typecardSongImg">
                    <img src="../assets/images/classic1.jpg" alt="">
                </div>
                <div class="typecardSongName">
                    The Weeknd - False Alarm (Official Video)
                </div>
            </a>
            <a class="typecardSong" target="_blank" href="https://www.youtube.com/watch?v=34Na4j8AVgA">
                <div class="typecardSongImg">
                    <img src="../assets/images/classic2.jpg" alt="">
                </div>
                <div class="typecardSongName">
                    The Weeknd - Starboy ft. Daft Punk (Official Video)
                </div>
            </a>
            <a class="typecardSong" target="_blank" href="https://www.youtube.com/watch?v=KEI4qSrkPAs">
                <div class="typecardSongImg">
                    <img src="../assets/images/classic3.jpg" alt="">
                </div>
                <div class="typecardSongName">
                    The Weeknd - Can't Feel My Face (Official Video)
                </div>
            </a>
        </div>
    </div>
</div>