<div id="albums">
    <div class="header">Special Recommendations</div>
    <div id="scroll">
        <div class="album" style="background: linear-gradient(to right,#336339,rgba(255,255,255,0));">
            <div class="albumImageSection">
                <div>
                    <img class="albumImage" src="../assets/images/nights.jpg">
                    <div class="albumNameSection flex">
                        <div class="albumName">Nights</div>
                        <div class="albumNameDesc">Frank Ocean • Blonde</div>
                    </div>
                </div>
            </div>
            <div class="albumBio">
                The song has almost four beats. All are simple and seem like they've been produced on a random night at 3:13 am. It doesn't feel calculated or chosen from a collection of thousand samples which adds to the genuinity of his album. In the first part of the song, he seems to express his good wishes for the people in his past. Showing he forgives them for anything they had done. The whole album is him expressing what he felt during a certain part of his past life. He talks about his time in Texas when he was broke and was living with his lover at the time. The second beat represents his mornings and easily is one of the best pieces of lyrics Frank has ever written. He seems to be talking to himself about how he needs to work to survive, the everyday shit and every night shit. This line also means he has to work on happy days and on bad days. This work is his every "day" thing, and since we see ahead in the lyrics that he even has a night shift job, This work is his every night routine. In the next line He says he has to drop his lover off every day before his night shift, so when he comes home after his shift, he's alone. He says he wants to feel what his lover makes him feel after his shift, and asks if they could come by his apartment. He's lonely all night and he knows that the people who don't like him want him to feel like this, break down and it's an everyday thing. Now, in the last line, him thinking that other people want him to break down is probably his anxiety rather than the truth but since it's how he feels, it adds to the loneliness he already feels when his lover is not around. In the next beat switch, he sings about how much he misses his lover all night, and he has some good memories of him/her that he never wants to forget. Moving on to the weirdest beat switch build-up, followed by the best music in the album. He sings, "Every night fucks every day up, Every day patches the night up" meaning Every unhappy night fucks his whole next day. He spends the whole day working on what made his nights unhappy/ processing his pain. The line also means happy days make the nights less hard. Then he goes on to talk about how things were in the city he stayed followed by some of his best lines, 
                <br>"After 'Trina hit I had to transfer campus<br>
                Your apartment out in Houston's where I waited<br>
                Stayin' with you when I didn't have a address<br>
                Fuckin' on you when I didn't own a mattress<br>
                Workin' on a way to make it outta Texas, every night<br>
                They let him live with them when he didn't have a place to stay and fucked him when he had nothing. Frank feels like the lover he had at the time is the only one who truly loved him. All the while he was working every day and night to make it out of Texas, and this is how he spent his nights. He then sings that it hurt when he had to drop his lover at their home every night and wanted them to spend the night, be with him because he needs them. <br> The Song couldn't be more human and the lyrics paired with his beautiful voice made the album the success it is today. Here's it's genius <a href="https://genius.com/10265665" style="color:white">link</a> if you want to read more.
            </div>
        </div>
        <div class="album" style="background: linear-gradient(to right,#222222,rgba(255,255,255,0));">
            <div class="albumImageSection">
                <div>
                    <img class="albumImage" src="../assets/images/lookatme.jpg">
                    <div class="albumNameSection flex">
                        <div class="albumName">Look At Me</div>
                        <div class="albumNameDesc">Xxxtentacion • Single</div>
                    </div>
                </div>
            </div>
            <div class="albumBio">
                I first heard this song when I was 17. The bass was the only thing that kept bringing me back because I had gotten used to the amount of bass used in typical rap songs. However, a song has to have something more than a good beat to blow up as much as it did. As X himself said, "What is real, will Prosper" <br>
                The verses are X bragging about his life like in a typical rap song but what he raps about are things very few men have the guts to express. He's expresses who he is, showing his true masculine self by expressing his desires. When people see his Masculine frame, they're attracted to it because he's saying things that are almost everyone's subconscious desires which people often have to supress to prevent making the people around them uncomfortable. He's being his true self, so it doesn't matter that thing lines he's rapping are offensive, insensitive and heartless. It's always attractive when someone shows us their true self.<br>
                In the chorus, he literally tells us his sexual frame. He wants his partner to look at him, and know who she is having sex with. A Masculine Dominatrix Urge, many people can relate to is yelled at us through waves of overly distorted bass. In one line of the second verse, he says he doesn't want her pussy, he wants head. Obviously, it has a literal meaning but it also means he doesn't want sex, he wants to own her. His energy is unmatched and the second chorus is even more energetic. The overly distorted bass may make the song a bit hard to listen to in headphones, but that's okay because the song is meant to be heard on speakers and in concerts.
            </div>
        </div>
        <div class="album" style="background: linear-gradient(to right,#358032da,rgba(255,255,255,0));">
            <div class="albumImageSection">
                <div>
                    <img class="albumImage" src="../assets/images/how.jpg">
                    <div class="albumNameSection flex">
                        <div class="albumName">How (demo)</div>
                        <div class="albumNameDesc">Clairo • dairy 001(EP)</div>
                    </div>
                </div>
            </div>
            <div class="albumBio">
                Clairo introduced me to bedroom pop. Her beats are simple and she uses the same kicks, hats, and snares in almost all the songs in this EP. The song doesn't have many meanings and the lyrics are simple. She talks about how she cannot get her ex out of her mind. She knows the relationship has ended and is heartbroken, she knows that no one can make her feel better and can only help herself. So, she's on her own. This whole song is her processing the pain and loneliness. She tries to be the strong one in the relationship but feels like it's too hard for anyone. Shows how we often lie to ourselves for comfort. How we will always want to be better if not, atleast equal to everyone else because of our ego, even when we're at an all-time low. The song is more about how it expresses her feelings rather than the depth of the lyrics. Her voice is beautiful and the song is comforting.
            </div>
        </div>
        <div class="album" style="background: linear-gradient(to right,#f1adc3ea,rgba(255,255,255,0));">
            <div class="albumImageSection">
                <div>
                    <img class="albumImage" src="../assets/images/igor.jpg">
                    <div class="albumNameSection flex">
                        <div class="albumName">New Magic Wand</div>
                        <div class="albumNameDesc">Tyler The Creator • IGOR</div>
                    </div>
                </div>
            </div>
            <div class="albumBio">
                This is one of Tyler's best productions. Part of the IGOR album, in this song, Tyler his expresses rage and frustration when he finds out that the person he loves hasn't moved on from their ex-girlfriend. He says the girl is making his frame look bad, meaning he cannot hide his insecurities when he's in front of them. He says he wants their complete love/attention and is not willing to share them with the girl, even thinking about killing her to get her out of the picture. This is followed by him begging them to stay because he couldn't hide his insecurities and threats while deep down still wanting to make her leave him because he can. Tyler even gives them an ultimatum to choose between him and her, and if they don't, he'll kill them both because he cannot keep feeling insecure any longer. As he expresses these feelings to them, Tyler sees that they are concerned for him, which is a light brag Tyler uses to show how much he loves them. <br>
                The song is more about his way of expressing his rage and insecurity paired with beautiful production and mixing.
            </div>
        </div>
        <div class="album" style="background: linear-gradient(to right,#4D2424,rgba(255,255,255,0));">
            <div class="albumImageSection">
                <div>
                    <img class="albumImage" src="../assets/images/home.jpg">
                    <div class="albumNameSection flex">
                        <div class="albumName">Home</div>
                        <div class="albumNameDesc">Cavetown • Single</div>
                    </div>
                </div>
            </div>
            <div class="albumBio">
                In the song, the artist expresses how he often feels like he doesn't belong anywhere. It happens for many reasons, him being asexual, him not being able to express what he's feeling to the people he cares about, and sometimes him not being able to communicate clearly because of his anxiety. The song is more about the composition and his voice rather than the lyrics because he released the original version of this song when he was 16. There aren't many clever lyrics or metaphors but it's okay because the song expresses what he feels and that's enough. Over the song, he starts to accept that he's made for greater things, so it's okay that he feels like he doesn't belong where he was at the time. Something which may feel like a comforting lie he told himself at that time has now come true.
            </div>
        </div>
        <div class="album" style="background: linear-gradient(to right,#CB4E38,rgba(255,255,255,0));">
            <div class="albumImageSection">
                <div>
                    <img class="albumImage" src="../assets/images/mysight.jpg">
                    <div class="albumNameSection flex">
                        <div class="albumName">Mysight</div>
                        <div class="albumNameDesc">Mild Orange • Foreplay</div>
                    </div>
                </div>
            </div>
            <div class="albumBio">
                The song's music has smooth guitar riffs of seductive themes but the lyrics are about how his commitment issues have hurt his lovers. In the song, he's convincing his partner that he won't leave her again. He even told her not to wait for him, but she did. He explains to her how she shouldn't have waited for him because the fights she had for him didn't matter in the end. The pain is not worth it because they don't have a future. He's been waiting for her too and further along the song makes peace with the fact that he will get hurt when their relationship will end. The artist probably realizes that their relationship is worth the pain or he just can't let her go again, an impulsive decision that he will regret later. The song has amazing mixing and composition.
            </div>
        </div>
        <div class="album" style="background: linear-gradient(to right,#040E06,rgba(255,255,255,0));">
            <div class="albumImageSection">
                <div>
                    <img class="albumImage" src="../assets/images/numberkari.jpg">
                    <div class="albumNameSection flex">
                        <div class="albumName">Numberkari</div>
                        <div class="albumNameDesc">MC Stan • Tadipaar</div>
                    </div>
                </div>
            </div>
            <div class="albumBio">
                The song has two simple beats with amazing flows. Shows how an artist can make or break the song based on his ability to express and rap. MC Stan is the best gangsta rapper in the country right now even with his new songs being melodic raps. This album made him mainstream. People often dismissed him in the beginning because it was not conventional for a rapper in India to be as street as Stan is. The middle class mostly stays on the good side of the law and people like Stan or his image are often looked down upon. So, when a 20-year-old guy starts rapping about going to jail for half murder at 17, he stands out. He's seen as a badass and a role model because he accepts that he's street. Accepting ourselves for who we are is one of the most attractive qualities a person can have and Stan had shown this right from the beginning of his beef with Emiway which brought him into the spotlight(not implying the beef made his career). Obviously, he's not a role model adults would consider good but they're not really his demographic. Even though most of his audience doesn't understand him, the music and his flow are enough to keep a person hooked throughout the song.<br>
                "Kya mila band karke<br>
                Abhi kya lund ghissu chandan pe<br>
                Sunburn mein bajta nahi<br>
                Hasta nahi Uske peeche wajah<br>
                Main Katrela saza Numberkaari haga<br>
                Maa baap sirf aate idhar Kon nahi hai saga"<br>
                The only reason he's fucking around and not performing in the sunburn is that he was in jail(shows how confident he is in his craft). Followed by some brags about him not being afraid of cops and how amazing he is. The song feels like a freestyle, something that JayZ, JID, and several other artists are known for. In rap, it's common for people to like the artists who put in as little effort as they can into their craft and still bring in huge numbers more. <br>
                "Rapper rehke meko nahi suna tune?<br>
                Bombay mein rah kar<br>
                Main rep karra pune<br>
                Tip aayi meko<br>
                Mera pune mech khoon hai"<br>
                The last line is the reason why he moved out of Pune and is Living in Mumbai. These lines are followed by him explaining how long he's been doing this and trying to have a conversation with the people who were going to kill him.<br>
                "Kisko mat kol, wapis se milne wala<br>
                Duniya full gol, bhatki meri soul"<br>
                Literal Hindi translation of what goes around comes around. These lines are followed by one of the best beat switches in the album. <br>
                "Ghar wale bole hafte bhar<br>
                Isleye main hafta bhar, dhakke par"<br>
                "Numbarkaari bolne meko sharam aari, Hana mari<br>
                Tip jaari<br>
                Jankari Jaan khari<br>
                Meri maa meri jaan khari<br>
                Public merepe khar khari"<br>
                Numberkari's literal translation is Numbering. What he's saying is He's ashamed of how many followers he's lost because of his bad press. Whenever he gets a tip that someone is going to kill him, he goes ahead and kills them first, losing followers. <br>
                "Jankari Jaan khari<br>
                Meri maa meri jaan khari<br>
                Public merepe khar khari<br>
                Jalne ki baas aari Ghal sadi<br>
                Ride mein nahi shamil toh<br>
                Ijjat pe baat aari, bhokmari<br>
                Police ne abhi, tak maa kasam bhot mari<br>
                Kambar mein palgun Rehke pan sarkari<br>
                Udte udte baat aari"<br>
                Just him being himself<br>
                "Public mereko Uchkari, bichkari<br>
                Ye log sab pichkari<br>
                Maa sirf ekach rehti<br>
                Ladki log kya aari jaari<br>
                Thar thari chuth jaari"<br>
                Bichkari probably means Bitch karri, and I do not know what That thari means, if someone knows it, please contact me. <br>
                "Public apli chai khari<br>
                Bahar ki public billion khari<br>
                Apni public vimal khari<br>
                Unke waja se<br>
                Shemdi ladki bhao khari (Shembde)"<br>
                He's not only talking about women here but also about the rap fans of India. Even though Foreign countries have much less population compared to India, their artists have a much larger following(their worth) than the biggest artists here. Although things seem to be improving in terms of followers, he's not just talking about the numbers. People in India don't respect Artists as much as People in Foreign countries do. The only forms of art people are familiar with is whatever Bollywood had produced and their monopoly stomped the growth of hip-hop in India. So, he feels as if he's not as popular and respected as he should be. As he's not as popular as he should be, the girls who're not as good-looking as they think they are, think they're too good for him. One of the reasons for this happening being, the public being busy eating "Vimal"(represents wasting their time and chasing women giving them free validation instead of chasing money). <br>
                "Ain’t funny, no money<br>
                Cash money bole toh<br>
                Khandani, ambani<br>
                Bhonde tu samjha nahi<br>
                Company ke saat mat kar tu mashkari"<br>
                Followed by<br>
                "Mar gayele kitne log<br>
                302 Yaad rakho<br>
                Mera kuch nahi<br>
                Main 6 mahine kadega Wapis se aake main<br>
                Tere shooter marega Tu bola gangsta!<br>
                Main bola gharpe jaa Kaise kya manega?<br>
                Kon nahi marega Khud tera aakhir mein<br>
                Tera numbarkaari teku marega"<br>
                Section 302 of IPC is the Punishment for murder(non-bailable and the sentence is imprisonment for life or the death penalty (depending upon the severity of the murder) along with a fine). The last line of the song means No one will kill you but your numbers(fame) will. Maybe he means that it's hard to sustain the fame and it will kill him eventually or the other rappers.
            </div>
        </div>
        <div class="album" style="background: linear-gradient(to right,#C1102A,rgba(255,255,255,0));">
            <div class="albumImageSection">
                <div>
                    <img class="albumImage" src="../assets/images/choolo.jpg">
                    <div class="albumNameSection flex">
                        <div class="albumName">Choo Lo</div>
                        <div class="albumNameDesc">The Local Train • Alas Ka Pedh</div>
                    </div>
                </div>
            </div>
            <div class="albumBio">
                The Local Train released this track in 2015 as part of their Alas Ka Pedh Album. It's safe to say this song was the reason they blew up. The song has perfect mixing with a simple yet beautiful guitar riff in the beginning. The lyrics don't have much depth to it and the song is more about its melodies/ability to express. There's a reason why this song became so popular, it's simply because it's so good. Not being able to move on and Loving someone forever are often over-romanticized and are shown in a positive light in Bollywood which is partly the reason why there are so many songs with huge numbers on these topics. 
            </div>
        </div>
        <div class="album" style="background: linear-gradient(to right,#B6B4B5,rgba(255,255,255,0));">
            <div class="albumImageSection">
                <div>
                    <img class="albumImage" src="../assets/images/pimp.jpg">
                    <div class="albumNameSection flex">
                        <div class="albumName">How Much a Dollar Cost</div>
                        <div class="albumNameDesc">Kendric Lamar • To Pimp a Butterfly</div>
                    </div>
                </div>
            </div>
            <div class="albumBio">
                There is no way I can explain this song better than Genius did on their Website so, Here's its <a href="https://genius.com/5046959" style="color: white;">link</a>.
                To Pimp a butterfly is widely considered the best album of the decade. In the album, Kendric talks about systematic oppression and institutionalized racism with the hopes of being able to be understood by his oppressors/unite the people of his race(make them feel like they are not alone in facing them). What this album stands for is the main reason why hip-hop originated. It began as an outlet for black people to express their problems in life but now has turned into an industry of the elite in which rich, pimp beautiful butterflies for their talents.   
            </div>
        </div>
        <div class="album" style="background: linear-gradient(to right,#E94965,rgba(255,255,255,0));">
            <div class="albumImageSection">
                <div>
                    <img class="albumImage" src="../assets/images/reborn.jpg">
                    <div class="albumNameSection flex">
                        <div class="albumName">Reborn</div>
                        <div class="albumNameDesc">Kanye West, Kid Cudi • Kids See Ghosts</div>
                    </div>
                </div>
            </div>
            <div class="albumBio">
                No words can express how much this song means to me. The message of the song is obvious and almost comical(maybe because it was used in the kids' film(Finding Nemo) making it unappealing to adults who think that hardships in life can't be made easier by just getting through the day) when looked at practically but it is something people suffering from chronic illnesses can use to survive the day. The song talks about being reborn every time we relapse, so instead of feeling guilty about our mistakes/regretting our decisions we can forgive our sins and be reborn. We can keep being reborn and walking forward until we reach where we want to be(although Cudi keeps expressing that he doesn't know which way to go in life which many of us can relate to. It also means that it's not necessary to know where to go in life, and we just need to get through the day and that's moving forward in life. That's enough). The song has replayability and the ending is one of Cudi's and Kanye's best music. I didn't go into much details about the lyrics because Genius has already done it. Here's its <a href="https://genius.com/Kids-see-ghosts-reborn-lyrics" style="color: white;">link</a>.
            </div>
        </div>
    </div>
</div>