<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/style.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <title>The Weeknd Fan Page</title>
</head>
<body>

    {{>navbar}}

    {{>jukebox}}

    {{>images}}
    
    {{>latestReleases}}
    
    {{>albums}}

    {{>remixes}}

    {{>biography}}

    {{>specials}}
    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
    <script src="../assets/script.js" type="text/javascript"></script>
</body>

<footer>
	<div id="footerSection">
        <div class="footerText">Don't like the reviews? or Want Your Recommendations to show up in the next Week's List?, Contact Me! </div>
		<div id="footerWrapper">
			<div>
				<a href="https://github.com/bomb468" class="footerLink">
					<i class="fa fa-github"></i>
					<span class="option hover-underline-animation">Github</span>
				</a>
			</div>
			<div>
				<a href="https://www.linkedin.com/in/gurpreet-singh-7a37911b2/" class="footerLink">
					<i class="fa fa-linkedin"></i>
					<span class="option hover-underline-animation">LinkedIn</span>
				</a>
			</div>
			<div>
				<a href="https://instagram.com/gurpreet88299" class="footerLink">
					<i class="fa fa-instagram"></i>
					<span class="option hover-underline-animation">Instagram</span>
				</a>
			</div>
            <div>
				<a href="mailto:gurpreet.singh.67909@gmail.com" class="footerLink">
					<i class="fa fa-envelope"></i>
					<span class="option hover-underline-animation">Email</span>
				</a>
			</div>
		</div>
	</div>
    <p class="footerText">Made with <i class="fa fa-heart pulse"></i> by Gurpreet</p>
</footer>
</html>
